# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Build and distribution
build/
dist/
wheels/
*.egg-info/

# Virtual environments
.venv/
.env




# Ignore PDFs in resources
resources/*.pdf

# VS Code workspace settings (optional, if personal)
*.code-workspace
